# 카카오 지오코딩 모듈 사용 예제

단계별로 실행하면서 결과를 확인할 수 있습니다.

## 필요한 모듈 import

In [1]:
import pandas as pd
from kakao_geocoding import geocode, reverse_geocode

## 1단계: addresses.xlsx 파일 불러오기

In [2]:
import os

# 현재 작업 디렉토리 확인
print(f"현재 작업 디렉토리: {os.getcwd()}")
print(f"파일 존재 여부: {os.path.exists('addresses.xlsx')}")

# 파일 읽기
df = pd.read_excel('addresses.xlsx')
print(f"\n불러온 데이터:")
display(df)
print(f"\n데이터 정보:")
print(f"  - 행 수: {len(df)}")
print(f"  - 컬럼: {list(df.columns)}")

현재 작업 디렉토리: c:\Users\BNA_Server\geocoding
파일 존재 여부: True

불러온 데이터:

      name                                    address
0  (주)씨에스리  서울시 마포구 월드컵북로 396 (상암동, 누리꿈스퀘어) 비즈니스타워 8층

데이터 정보:
  - 행 수: 1
  - 컬럼: ['name', 'address']

## 2단계: 지오코딩하기 (주소 → 좌표)

In [4]:
# 주소 컬럼을 좌표로 변환
result_df = geocode(df, address_column='address')

print(f"지오코딩 결과:")
display(result_df[['name', 'address', 'longitude', 'latitude']])

지오코딩 시작: 총 1개 주소 처리 중...
지오코딩 완료: 1개 주소 변환 성공
지오코딩 결과:

      name                                    address   longitude   latitude
0  (주)씨에스리  서울시 마포구 월드컵북로 396 (상암동, 누리꿈스퀘어) 비즈니스타워 8층  126.889783  37.579428

## 3단계: 역지오코딩하기 (좌표 → 주소)

In [5]:
# 좌표를 주소로 변환 (상세 정보 포함, JSON 저장)
result_df = reverse_geocode(
    result_df, 
    longitude_column='longitude',
    latitude_column='latitude',
    include_details=True,  # 상세 정보 포함
    save_json=True  # API 응답을 JSON 파일로 저장
)

print(f"역지오코딩 결과 (기본 주소):")
display(result_df[['name', 'address', 'road_address', 'longitude', 'latitude']])

역지오코딩 시작: 총 1개 좌표 처리 중...
상세 정보 포함: 시도, 시군구, 읍면동리, 건물명, 우편번호 등
API 응답이 JSON 파일로 저장되었습니다: reverse_geocode_20260122_165924.json
역지오코딩 완료: 1개 좌표 변환 성공
역지오코딩 결과 (기본 주소):

      name          address         road_address   longitude   latitude
0  (주)씨에스리  서울 마포구 상암동 1605  서울특별시 마포구 월드컵북로 396  126.889783  37.579428

In [6]:
# 상세 정보 확인
print(f"역지오코딩 결과 (상세 정보):")
detail_cols = [
    'road_region_1depth', 'road_region_2depth', 'road_region_3depth',
    'road_name', 'road_building_name', 'road_zone_no'
]
available_detail_cols = [col for col in detail_cols if col in result_df.columns]
if available_detail_cols:
    display(result_df[['name'] + available_detail_cols])

역지오코딩 결과 (상세 정보):

,name,road_region_1depth,road_region_2depth,road_region_3depth,road_name,road_building_name,road_zone_no
0,(주)씨에스리,서울,마포구,,월드컵북로,누리꿈스퀘어,03925

## 4단계: 데이터 저장하기

In [7]:
# 엑셀 파일로 저장
output_file = 'result.xlsx'
result_df.to_excel(output_file, index=False)
print(f"결과가 '{output_file}' 파일로 저장되었습니다.")

결과가 'result.xlsx' 파일로 저장되었습니다.

In [8]:
# 데이터프레임 정보 출력
print(f"저장된 데이터 정보:")
print(f"  - 행 수: {len(result_df)}")
print(f"  - 컬럼 수: {len(result_df.columns)}")
print(f"  - 컬럼 목록:")
for col in result_df.columns:
    print(f"    - {col}")

저장된 데이터 정보:
  - 행 수: 1
  - 컬럼 수: 23
  - 컬럼 목록:
    - name
    - address
    - longitude
    - latitude
    - road_address
    - road_zone_no
    - road_region_1depth
    - road_region_2depth
    - road_region_3depth
    - road_name
    - road_main_building_no
    - road_sub_building_no
    - road_building_name
    - road_underground_yn
    - address_region_1depth
    - address_region_2depth
    - address_region_3depth
    - address_region_3depth_h
    - address_h_code
    - address_b_code
    - address_main_no
    - address_sub_no
    - address_mountain_yn

## 완료!

모든 단계가 완료되었습니다.